<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "InternX" %></title>

    <%= stylesheet_link_tag :application %>

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <%= partial 'layouts/analytics' %>
  </head>
  <nav class="nav-bar">
    <div class="nav-hold">
      <a href="/"><img class="nav-image" src="images/new-logo.svg"></a>
      <a id="nav-menu" class="nav-menu">&#9776;</a>
      <ul class="nav-list" id="nav">
        <li><a href="http://app.theinternx.com/sign-up">I'm a Student</a></li>
        <li><a href="http://app.theinternx.com/">Log In</a></li>
      </ul>
    </div>
  </nav>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
  <footer>
    <div class="list-group">
      <ul class="list-contact">
        <li><img class="logo" src="images/footer-logo.svg"></li>
        <li><img class="contact-icon" src="images/email.svg"><a href=""><a href="mailto:contact@theinternx.com" target="_top">contact@theinternx.com</a></li>
        <li><img class="contact-icon" src="images/phone.svg"><a href=""><a href="tel:847-565-9114">847-565-9114</a></li>
      </ul>
      <ul class="secondary-list">
        <li><h3>Join</h3></li>
        <a href="http://app.theinternx.com/sign-up"><li>Student Sign Up</li></a>
      </ul>
      <ul>
        <li><h3>Support</h3></li>
        <a href="/faq"><li>FAQ</li></a>
        <a href="mailto:contact@theinternx.com" target="_top"><li>Contact Us</li></a>
      </ul>
    </div>
    <hr>
    <span> © InternX 2017. View our <a href="https://www.dropbox.com/s/g3i21tctjxoqh01/privacy-policy.docx?dl=0" target="_top">Privacy Policy and Terms of Use</a>.</span>
  </footer>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <%= javascript_include_tag "site" %>
</html>
